@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/ibm-plex-sans-kr');
@import url('https://fonts.cdnfonts.com/css/hind-vadodara');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
    margin: 12px 80px;
    margin-bottom: 178px;
  }
  .headerContainer{
    text-align: center;
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
  }
  .logo{
    display: inline-block;
    vertical-align: middle;
  }
  .navigation{
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
  }
  .nav_items{
    font-family: 'Inter', sans-serif;
    margin-right: 15px;
    text-decoration: none;
    color: #323232;
    font-size: 18px;
    font-weight: 400;
  }
  .contact_us{
    background: #00AC25;
    border: 1px solid #00AC25;
    border-radius: 8px;
    vertical-align: middle;
    padding: 8px 16px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
  }
  .contact_us a{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
  }
.mainContainer{
    margin:0 auto;
    max-width: 1316px;
    width: 100%;
}
.mainContainer h1{
    font-family: 'Inter', sans-serif;
    color: #000;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
}
.pink{
    font-family: 'Inter', sans-serif;
    color: #FF5DA3;
}
.mainContainerP{
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin-top: 24px;
    margin-bottom: 24px;
    display: inline-block;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.mainContainer h2{
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.mainP{
    font-family: 'Hind Vadodara', sans-serif;
    margin-top: 24px;
    margin-bottom: 24px;
    display: inline-block;
    color: #6941C6;
    text-align: center;
    line-height: 32px;
    font-size: 24px;
    font-weight: 400;
}
.become{
  display: block;
  margin: 0 auto;
  background: #00AC25;
  border: 1px solid #00AC25;
  border-radius: 8px;
  padding: 16px 24px;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 578px;
}
.become a{
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
}
footer{
  background: var(--Colors-Background-bg-brand-section, #53389E);
  padding: var(--spacing-6xl, 48px) 0px;
  align-items: center;
}

.footerContainer{
  text-align: center;
  margin: 0 auto;
  max-width: var(--container-max-width-desktop, 1280px);
  width: 100%;
  padding: 0px var(--container-padding-desktop, 32px);

}
.Logofooter{
  max-width: 142px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.navMap{
  max-width: 512px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.navMap a{
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: #E9D7FE;
  margin-right: 24px;
}
.privacy{
  margin-right: 0;
}
.footerH{
  font-family: 'Inter', sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #D6BBFB;
  font-weight: 400;
  line-height:  24px;
  font-size: 16px;
  margin-left: 50px;
}