* {
    box-sizing: border-box;
  }
  .logo {
    max-width: 147px;
    max-height: 21px;
    display: inline-block;
    align-items: center;
    margin-right: 80px;
}
.contact{
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #00AC25;
    background: #00AC25;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}
.contact a{
    color: #fff;
    text-decoration: none;
}
.menu{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding-right: 80px;
    margin-right: 80px;
    align-items: center;
    max-width: 1140px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    padding-right: 20px;
    color: #323232;
}
.menu ul li a:hover{
    color: #FF5DA3;

}
.container{
    text-align: center;
}
.sectionone{
    max-width: 1316px;
    margin-left: 302px;
    margin-right: 302px;
    align-items: center;
}
h1{
    color: #000;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 24px;
}
.pink{
    color: #FF5DA3;
}
.pone{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
}
h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}
.ptwo{
    color: #6941C6;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
}
.become{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    padding: 16px 24px;
    border: 8px solid #00AC25;
    background-color: #00AC25;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    text-align: center;

}
.becomediv{
    text-align: center;
}
.footerul ul li{
    display: inline-block;
    padding: var(--spacing-6xl, 48px) 0px;
}
.footerul ul li a{
    text-align: center;
    align-items: center;
    color: #E9D7FE;
    text-decoration: none;
    padding-right: 32px;
}
.footerul{
    text-align: center;
}
.copy{
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D6BBFB;
}
footer{
    background-color: #53389E;
}